@model WantedPeoplePageListingModel


<div class="row wanted-people-listings">
    <div class="col-md-9">
        @foreach (var person in Model.WantedPeople)
        {
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <a asp-controller="WantedPeople" asp-action="Details" asp-route-id="@person.Id">Details</a>
                    </div>
                    <div class="panel-body">
                        <img src="@person.PictureUrl" class="img-responsive center-block" />
                        <br />
                        <p class="text-center">
                            @($"Name: {person.FirstName} {person.LastName}")
                        </p>
                        <p class="text-center">
                            @($"Age today: {DateTime.UtcNow.Year - person.DateOfBirth.Year} years old")
                        </p>
                        <p class="text-center">
                            @($"Nationality: {person.GivenNationalities}")
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-3">
        <p>Nav menu for news/add also border*</p>
    </div>
</div>