@model WantedPeoplePageListingModel

@{
    var previousDisabled = Model.CurrentPage == 1 ? "disabled" : string.Empty;
    var nextDisabled = Model.CurrentPage == Model.TotalPages ? "disabled" : string.Empty;
}

<div class="row missing-people-listings">
    <div class="col-md-9">
        @foreach (var person in Model.WantedPeople)
        {
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">
                        <a asp-controller="WantedPeople" asp-action="Details" asp-route-id="@person.Id">Details</a>
                    </div>
                    <div class="panel-body">
                        @if (!person.IsCaught)
                        {
                            <img src="@person.PictureUrl" class="img-responsive center-block" />
                        }
                        else
                        {
                            <img src="~/images/caught-logo.jpg" class="img-responsive center-block" /> 
                        }
                        <br />
                        <p class="text-center">
                            @($"Name: {person.FirstName} {person.LastName}")
                        </p>
                        <p class="text-center">
                            @($"Age today: {DateTime.UtcNow.Year - person.DateOfBirth.Year} years old")
                        </p>
                        <p class="text-center">
                            @($"Nationality: {person.GivenNationalities}")
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-3 article-menu">
        <a asp-area="Blog" asp-controller="Articles" asp-action="Index">
            <p class="text-center text-uppercase text-danger">Last News:</p>
        </a>
        <div class="row custom-menu ">
            @await Html.PartialAsync("~/Areas/Blog/Views/Articles/_AllArticlesPartial.cshtml", Model.Articles)
        </div>
    </div>
</div>
<ul class="pagination pagination-lg">
    <li class="@previousDisabled">
        <a asp-route-page="@Model.PreviousPage" aria-label="Previous">
            <span aria-hidden="true">«</span>
        </a>
    </li>
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        <li class="@(Model.CurrentPage == i ? "active" : string.Empty)">
            <a asp-route-page="@i">@i</a>
        </li>
    }
    <li class="@nextDisabled">
        <a asp-route-page="@Model.NextPage" aria-label="Next">
            <span aria-hidden="true">»</span>
        </a>
    </li>
</ul>