@model WantedPeopleDetailsServiceModel

@{
    ViewData["Title"] = $"{Model.FirstName} {Model.LastName}";
}

<a asp-controller="WantedPeople" asp-action="Index" class="btn btn-primary">Back to all wanted criminals</a>

@if (this.User.IsInRole(WebConstants.WantedMissingPeopleRole) || this.User.IsInRole(WebConstants.AdministratorRole))
{
    <a asp-area="BountyAdmin" asp-controller="WantedPeople" asp-action="ListAllForms" class="btn btn-primary ">Back to submit forms</a>

    <a asp-area="BountyAdmin" asp-controller="WantedPeople" asp-action="AddCharge" asp-route-id="@Model.Id" class="btn btn-warning">Add charge</a>

    <a asp-area="BountyAdmin" asp-controller="WantedPeople" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit details</a>
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <img src="@Model.PhysicalDescription.PictureUrl" class="img-responsive center-block" alt="@Model.LastName picture" />
    </div>
    <div class="col-md-8">
        <div class="panel panel-default panel-heading">
            <p class="panel-title panel-heading text-capitalize">identity particulars</p>
            <div class="panel-body">
                <p>First name: <span class="text-custom">@Model.FirstName</span></p>
                <p>Last name: <span class="text-custom">@Model.LastName</span></p>

                @if (Model.AllNames != null)
                {
                    <p>Full name: <span class="text-custom">@Model.AllNames</span></p>
                }

                <p>Sex: <span class="text-custom">@Model.Gender.ToString()</span></p>
                <p>Date of birth: <span class="text-custom">@Model.DateOfBirth.ToShortDateString()</span></p>
                <p>Place of birth: <span class="text-custom">@Model.PlaceOfBirth</span></p>
                <p>Nationality: <span class="text-custom">@(string.Join(", ", Model.Nationalities.Select(n => n.Name)))</span></p>
            </div>
        </div>
        <div class="panel panel-default panel-heading">
            <p class="panel-title panel-heading text-capitalize">physical description</p>
            <div class="panel-body">
                <p>Color of hair: <span class="text-custom">@Model.PhysicalDescription.HairColor.ToString()</span></p>
                <p>Color of eyes: <span class="text-custom">@Model.PhysicalDescription.EyeColor.ToString()</span></p>
                <p>Height: <span class="text-custom">@Model.PhysicalDescription.Height cm</span></p>
                <p>Weight: <span class="text-custom">@Model.PhysicalDescription.Weight kg</span></p>

                @if (Model.PhysicalDescription.ScarsOrDistinguishingMarks != null)
                {
                    <p>Scars or distinguishing marks: <span class="text-custom">@Model.PhysicalDescription.ScarsOrDistinguishingMarks</span></p>
                }
                <p>Languages spoken: <span class="text-custom">@(string.Join(", ", Model.SpokenLanguages.Select(l => l.Name)))</span></p>
                <p>Charges: <span class="text-custom">@(string.Join(", ", Model.Charges.Select(l => l)))</span></p>
            </div>
        </div>
        <div class="panel-footer">
            <p class="text-danger text-capitalize">if you have any information please contact:</p>
            <p>Your national or local police</p>
            <a asp-area="" asp-controller="WantedPeople" asp-action="SubmitForm" asp-route-id="@Model.Id" class="btn btn-warning">General secretariat of INTERPOL</a>
        </div>
    </div>
</div>

