@model UserListingsViewModel

@{
    ViewData["Title"] = "User Administration";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Add to role</th>
            <th>Remove from role</th>
            <th>User options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
        <tr>
            <td>@user.Username</td>
            <td>@user.Email</td>
            <td>
                @if (user.RoleNames.Any())
                {
                    @string.Join(", ", user.RoleNames)
                }
                else
                {
                    <p class="text-danger">Does not have any roles.</p>
                }
            </td>
            @*Try to fix the button add/remove to a single form.*@
            <td>
                <form asp-controller="Users" asp-action="AddToRole" method="post">
                    <div class="row">
                        <div class="col-md-8">
                            <input type="hidden" name="UserId" value="@user.Id" />
                            <select name="Role" asp-items="Model.Roles" class="form-control"></select>
                        </div>
                        <div class="col-md-4">
                            @*name="buttonValue"*@
                            <input class="btn btn-sm btn-primary" type="submit" value="Add" />
                            @*<input class="btn btn-sm btn-danger" type="submit" value="Remove" />*@
                        </div>
                    </div>
                </form>
            </td>
            <td>
                <form asp-controller="Users" asp-action="RemoveFromRole" method="post">
                    <div class="row">
                        <div class="col-md-8">
                            <input type="hidden" name="UserId" value="@user.Id" />
                            <select name="Role" asp-items="Model.Roles" class="form-control"></select>
                        </div>
                        <div class="col-md-4">
                            <input class="btn btn-sm btn-warning" type="submit" value="Remove" />
                        </div>
                    </div>
                </form>
            </td>
            <td>
                <form asp-controller="Users" asp-action="Delete" method="post">
                    <div class="row">
                        <div class="col-md-4">
                            <input type="hidden" name="id" value="@user.Id" />
                            <input class="btn btn-sm btn-danger" type="submit" value="Delete User" />
                        </div>
                    </div>
                </form>
                <br />
                <form asp-controller="Users" asp-action="ChangePassword" method="post">
                    <div class="row">
                        <div class="col-md-4">
                            <input type="hidden" name="id" value="@user.Id" />
                            <input class="btn btn-sm btn-info" type="submit" value="Reset password" />
                        </div>
                    </div>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>