@model UserListingsViewModel

@{
    ViewData["Title"] = "User Administration";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Manage Roles</th>
            <th>User options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Username</td>
                <td>@user.Email</td>
                <td>
                    @if (user.RoleNames.Any())
                    {
                        @string.Join(", ", user.RoleNames)
                    }
                    else
                    {
                        <p class="text-danger">Does not have any roles.</p>
                    }
                </td>
                <td>
                    <form asp-controller="Users"  method="post">
                        <div class="row">
                            <div class="col-md-8">
                                <input type="hidden" name="UserId" value="@user.Id" />
                                <select name="Role" asp-items="Model.Roles" class="form-control"></select>
                            </div>
                            <div class="col-md-4">
                                <input asp-action="AddToRole" class="btn btn-sm btn-primary custom-buttons" type="submit" value="Add" />
                                <input asp-action="RemoveFromRole" class="btn btn-sm btn-danger admin-usersmenu-buttons custom-buttons" type="submit" value="Remove" />
                            </div>
                        </div>
                    </form>
                </td>
                <td>
                    <form asp-controller="Users" method="post">
                        <div class="row">
                            <div class="col-md-4">
                                <input type="hidden" name="id" value="@user.Id" />
                                <input asp-action="Delete" class="btn btn-sm btn-danger custom-buttons" type="submit" value="Delete User" onclick="return confirm('Are you sure you want to delete this user?')" />     
                                <input asp-action="ChangePassword" class="btn btn-sm btn-info admin-usersmenu-buttons custom-buttons" type="submit" value="Reset password" onclick="return confirm('Are you sure you want to reset user`s password?')" />
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>