<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Interpol Official Website</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
        asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

</head>
<body id="bootstrap-override">
    <nav class="navbar navbar-inverse navbar-fixed-top" id="main-nav-bar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/images/interpol-logo.png" class="main-logo" />
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Interpol</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (this.User.IsInRole(WebConstants.AdministratorRole))
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Manage Users
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" id="main-nav-bar">
                                <li><a asp-area="Admin" asp-controller="Users" asp-action="Index">All Users</a></li>
                                <li><a asp-area="Admin" asp-controller="Users" asp-action="Create">Create User</a></li>
                                <li><a asp-area="Admin" asp-controller="Logger" asp-action="All">Saved Employees Operations</a></li>
                            </ul>
                        </li>
                    }
                    @if (this.User.IsInRole(WebConstants.AdministratorRole)
                      || this.User.IsInRole(WebConstants.WantedMissingPeopleRole))
                    {
                        <li class="dropdown">
                            <a id="managePeopleA" class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Manage  People
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" id="main-nav-bar">

                                <li><a asp-area="BountyAdmin" asp-controller="MissingPeople" asp-action="Create">Add Missing Person</a></li>
                                <li><a asp-area="BountyAdmin" asp-controller="WantedPeople" asp-action="Create">Add Wanted Person</a></li>
                                <li><a id="SubmitFormWantedA" asp-area="BountyAdmin" asp-controller="WantedPeople" asp-action="ListAllForms">Check wanted's forms</a></li>

                            </ul>
                        </li>

                    }
                    @if (this.User.IsInRole(WebConstants.AdministratorRole)
                      || this.User.IsInRole(WebConstants.BloggerRole))
                    {
                        <li><a asp-area="Blog" asp-controller="Articles" asp-action="Create">Publish News</a></li>
                    }
                    @if (this.User.IsInRole(WebConstants.BountyHunterRole))
                    {
                        <li><a asp-area="BountyHunter" asp-controller="BountyHunter" asp-action="GetSubmittedForms">My-Forms</a></li>
                    }
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Missing
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" id="main-nav-bar">
                            <li><a asp-controller="MissingPeople" asp-action="Index">Missing people</a></li>
                            <li><a asp-controller="WantedPeople" asp-action="Index">Wanted people</a></li>

                        </ul>
                    </li>
                    <li><a asp-area="Blog" asp-controller="Articles" asp-action="Index">News</a></li>

                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @if (TempData.ContainsKey(WebConstants.TempDataSuccessMessageKey))
        {
            <div class="alert alert-success">
                @TempData[WebConstants.TempDataSuccessMessageKey]
            </div>
        }
        else if (TempData.ContainsKey(WebConstants.TempDataErrorMessageKey))
        {
            <div class="alert alert-danger">
                @TempData[WebConstants.TempDataErrorMessageKey]
            </div>
        }

        @RenderBody()
        <hr />
        <footer class="text-center col-md-12">
            <p>&copy; INTERPOL 2018. All rights reserved</p>
        </footer>
    </div>
    <div id="background"></div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    @{
        var result = ViewData[WebConstants.ValidForm];
    }
    <p class="result">@result</p>
</body>
</html>